<div class="card">
  <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1><%= @item.name %></h1>
  <p class="price">$<%= @item.price %></p>
  <p><%= link_to "see item", item_path(@item)%></p>
</div> 
