

<% @orders.each do |order|%>
  <% if order.cart.cart_items.present? %>
   <p>Store: <%= order.store.name %></p>
  <% end %>
  
 <% if order.cart.cart_items.present? %>
  <% order.cart.cart_items.each do |cart_item|%>
    <div class="card">
    <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Item Name <%= cart_item.item.name%></h1>
    <p class="price">Price: <%= cart_item.item.price%></p>
    </div> 
  <%end %>
 <% end %> 

 <% if order.total.present?%>
  <%= order.total%>
 <%end%> 

<% end %> 
  
 
